+b('div').footer
    .container
        .row
            +e('ul')
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
                +e('li')
                    +e('a').link(href="#" title="#") Бытовая техника
+b('div').sub-footer
    .container
        .row
            +e('p').all-rights © 2019 SravniPrice.ru All rights reserved.
            +e('a').add-shop(href="#addShop" title="#")
                +e('span').plus +
                +e('span').desc-add-shop Подключить магазин