* {
  box-sizing: border-box;
  //outline: 0;
  //letter-spacing: 0.5px;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font: 300 1rem/1.125rem $font-main;
  color: $text;
  background: $white;
}

main {
  //min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  color: $text;
}

h1 {
  font-size: 2rem;
  line-height: 3.34rem;
  color: $text-title;
}
h2 {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  font: 700 2.25rem/2.5rem $font-main;
  color: $text-title;
}
h3 {
  width: 100%;
  text-align: left;
  font: 700 1.5rem/1.7rem $font-main;
  color: $text-title;
}
h4 {
  text-align: left;
  font: 700 1.125rem/1.25rem $font-main;
  color: $text-title;
}
h5 {
  font-size: 0.83rem;
  line-height: 1.67rem;
}
h6 {
  text-align: left;
  font: 700 0.9375rem/1.375rem $font-main;
  color: $text-title;
  margin: 0 0 1rem 0;
}

p {
  font: inherit;
  color: $text-main;
}

b, strong {
  color: inherit;
  font: inherit;
  font-weight: bold;
}

ul {
  padding: 0;
  margin:  0;
}

li {
  list-style: none;
}

fieldset {
  border: 0;
}

label {
  margin: 0;
}

input {

  &[type=checkbox],
  &[type=radio]
  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-clear {
      display: none;
    }
  }

  &[type=number] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

a, button, input {
  //outline: 0;

  &:focus {
    //outline: 0;
  }
}

textarea {
  resize: none;
  //outline: 0;
}

a {
  color: $link-main;
  text-decoration: underline;
  cursor: pointer;
  font: 300 1rem/1.25rem $font-main;
  transition: $transition-default;

  &:hover,
  &:focus {
    color: $link-main;
    text-decoration: underline;
    transition: $transition-default;
    //opacity: 0.8;
  }

  &:active {
    //кликнул, но не отпустил
    opacity: 0.8;
    color: $link-main;
  }

  &:visited {
    //color: $link-main;
  }
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0;
}

.hidden {
  display: flex!important;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-color: grey;
}
body::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
